<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>

<body>
    <h1 class="title">Thanks For Subscribing!</h1>

    <div class="title-body">
        <h2>Taro Varieties</h2>
        <ul>
            <li>Kai Kea</li>
            <li>Kai Ala</li>
            <li>Haokea</li>
            <li>Konalena</li>
        </ul>
    </div>
</body>

</html>